header
  .header-position
    h1.logo ATP!
    
    nav.site-nav
      ul
        li: a(href="#about") about
        li: a(href="#youtube") youtube
        li: a(href="#mentoring") mentoring
        li: a(href="#articles") articles
        li: a(href="#vine") vine
        li: a(href="#notes") notes
        li: a(href="#contact") contact

    a(href="mailto:test@test.fifi").email-link +email me
