%flex
	display: flex

.positioner
	max-width: 970px
	margin: 0 auto

h1
	font-size: 1.8em
	line-height: 1.1
	font-family: helvetica, "sans-serif"
	margin: 0 auto
	text-transform: uppercase
em
	font-style: italic
strong
	font-weight: bold

body
	background: honeydew