<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %} {{ page.title }} - {% endif %} {{ site.data.settings.title }}</title>

  <link rel="stylesheet" href="/assets/css/kukko.css">
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <script src="//use.typekit.net/ima1xmp.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

</head>
    <header class="svgheader">
      <svg preserveAspectRatio="xMinYMin" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Kukko.info</title>
        <desc>Kukkotarha</desc>
        <defs>
          <mask id="CrestMask">
            <image width="100%" height="100%" xlink:href="assets/img/crest_mask.png"></image>
          </mask>
        </defs>
        <image mask="url(#CrestMask)" width="100%" height="100%" xlink:href="assets/img/crest.jpg"></image>
      </svg>
    </header>

<body>

